.controls-wrapper {
  width: 60%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .action-btn {
    width: 50%;
    height: 50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }

  .play-pause-btn {
    width: 70px;
    height: 50px;
    border-radius: 30px;
    background-color: #c96850;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: inset -4px -4px 10px #55291e, inset 4px 4px 10px 1px #ffae9a;

    &.active {
      box-shadow: inset -4px -4px 10px #ff8769, inset 4px 4px 10px 1px #753d30;
    }
    &:hover{
        transform: scale(1.1);
    }
  }
}
